*{  /*Configurações globais */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    margin-bottom: 1%;

}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 30px;
}

body{
    min-height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    background: linear-gradient(to bottom, rgba(139, 171, 241, 0.856), rgb(210, 241, 241), rgba(189, 241, 239, 0.541));
    background-attachment: fixed;
}

.form-center{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

form input[type="submit"]{
    margin-top: 1rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #4776e3, #8e54e9);
    color: rgb(238, 238, 238);
    border-radius: 9px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.3s ease;
}
input{
    border-radius: 5px;
}
header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.campo input[type="text"], .campo input[type="password"], .campo input[type="email"]{
    padding: 0.2em;
    border: 1px solid cornflowerblue;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}
.campo{
    margin-bottom: 1em;
}

.social-field{
    color: black;
    font-family: cursive;
    padding: 0.2em;
    text-align: center;
    

}
img{

}
.img-logo img{
    display: inline-block;
    height: 100px;
    width: 150px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}